@import "components/vars";
@import "components/mixins";
@import "components/print";

@include main;

.header {
  min-height: 125px;
}

.top-nav {
  @include wrapper(1160, 0);
  padding: 50px 25px;
  font-weight: 700;
  display: flex;
  position: fixed;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;

  a {
    color: $link_clr;

    &:hover {
      color: rgba($color: $secondary_clr, $alpha: 0.5);
    }
  }

  @include media-max-width(700) {
    justify-content: space-between;
    display: block;

    a {
      color: #fff;

      &:hover {
        color: rgba($color: $secondary_clr, $alpha: 0.5);
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-max-width(700) {
      width: 100%;
    }
  }

  &__logo {
    font-size: 25px;
    margin-right: 40px;
    display: flex;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    width: 100%;

    li {
      margin-right: 33px;

      @include media-max-width(700) {
        margin-bottom: 40px;
        margin-right: 0;
      }
    }

    @include media-max-width(700) {
      max-height: 0;
      display: block;
      text-align: center;
      overflow: hidden;
      transition: 1s;
    }

    &.open {
      @include media-max-width(700) {
        display: flex;
        flex-direction: column;
        transition: 1s ease-in-out;
        background-color: $tertiary_clr;
        border-radius: 10px;
        padding: 40px 25px;
        margin-top: 30px;
        max-height: 100vh;
      }
    }
  }

  &__login {
    display: flex;
    align-items: center;
    margin-left: auto;
    @include media-max-width(700) {
      border-top: 1px solid $link_clr;
      padding-top: 40px;
      width: 100%;
    }
    .btn {
      @include btn;
      margin-right: 0;

      @include media-max-width(700) {
        width: 100%;
      }
    }

    @include media-max-width(700) {
      flex-direction: column;
      margin: auto;
    }
  }

  // Hamburger menu
  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    display: none;
    @include media-max-width(700) {
      display: inherit;
    }

    &__burger {
      width: 25px;
      height: 4px;
      background: $link_clr;
      transition: all 0.5s ease-in-out;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 4px;
        background: $link_clr;
        transition: all 0.5s ease-in-out;
      }

      &::before {
        transform: translateY(-10px);
      }

      &::after {
        transform: translateY(10px);
      }
    }

    /* ANIMATION */
    &.open .menu-btn__burger {
      transform: translateX(-50px);
      background: transparent;
      box-shadow: none;
    }
    &.open .menu-btn__burger::before {
      transform: rotate(45deg) translate(35px, -35px);
    }
    &.open .menu-btn__burger::after {
      transform: rotate(-45deg) translate(35px, 35px);
    }
  }

  &--sticky {
    height: 50px;
    transition: all 0.5s ease-in-out;
    z-index: 50;
    background-color: $primary_clr;
    padding: 0 2%;
    box-shadow: 2px 7px 10px -4px rgba(0, 0, 0, 0.75);
    border-radius: 0px 0 10px 10px;
    @include media-max-width(700) {
      height: 50px;
      padding: 0 25px;
    }

    a {
      color: #fff;

      &:hover {
        color: rgba($color: $secondary_clr, $alpha: 0.5);
      }
    }

    .menu-btn {
      width: 50px;
      height: 50px;
      border: #fff;
      display: none;
      > * {
        cursor: pointer;
      }

      @include media-max-width(700) {
        display: flex;
      }

      &__burger {
        position: absolute;
        left: 0%;
        width: 40px;
      }
      &__burger::before,
      &__burger::after {
        content: "";
        position: absolute;
        width: 40px;
        left: 0%;
      }
    }

    .top-nav__nav-list {
      margin-top: 0;

      .btn {
        background-color: $secondary_clr;
        &:hover {
          background-color: rgba($color: $tertiary_clr, $alpha: 0.5);
        }
      }
    }

    nav {
      @include media-max-width(700) {
        display: block;
        text-align: center;
        margin: auto;
        width: 100%;
      }

      ul {
        @include media-max-width(700) {
          display: block;
          text-align: center;
          margin: auto;
        }

        li {
          height: 50px;
          line-height: 50px;
          transition: 0.6s;
          @include media-max-width(700) {
            margin: 0;
            &:hover {
              background-color: $primary_clr;
              &:hover * {
                color: $secondary_clr;
              }
            }
          }
        }
      }
    }
  }
}

.main {
  position: relative;
  .main-banner {
    @include wrapper(1160, 25);
    min-height: 700px;
    margin-bottom: 60px;

    @include media-max-width(700) {
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      padding: 0;
    }

    &__info {
      width: 40%;
      padding-top: 75px;

      @include media-max-width(700) {
        width: 100%;
        text-align: center;
        padding: 25px;
        margin-bottom: 80px;
      }

      h1 {
        font-size: 56px;
        font-weight: 700;
        margin-bottom: 30px;
      }

      p {
        font-size: 20px;
        margin-bottom: 40px;
        color: $link_clr;
      }

      .btn {
        @include btn;
      }
    }

    &__image {
      position: absolute;
      right: 0;
      top: 0;
      max-width: 60%;
      z-index: -50;
      overflow: hidden;

      @include media-max-width(700) {
        position: relative;
        max-width: 100%;
        padding: 0;
      }

      img {
        overflow: hidden;
        width: 130%;
        @include media-max-width(700) {
          width: 140%;
        }
      }
    }
  }

  .boxes {
    background-color: $light-grey;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 115px 0;

    .url {
      background-image: url(../svg/bg-shorten-desktop.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-color: $dark-violet;
      position: absolute;
      top: 0;
      transform: translateY(-50%);
      min-height: 170px;
      width: 100%;
      @include wrapper(1160, 25);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 50px 65px;
      font-size: 20px;
      border-radius: 10px;

      @include media-max-width(700) {
        flex-direction: column;
        padding: 25px;
        background-image: url(../svg/bg-shorten-mobile.svg);
        background-position: right top;
        background-size: inherit;
        width: calc(100% - 50px);
      }

      &__input {
        width: 80%;
        line-height: 65px;
        outline: none;
        border-radius: 10px;
        font-size: 20px;
        padding: 0 35px;
        @include media-max-width(700) {
          width: 100%;
          margin-bottom: 16px;
        }
      }

      &__btn {
        @include btn;
        height: 65px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        padding: 15px 40px;
        justify-content: center;
        @include media-max-width(700) {
          width: 100%;
        }
      }
    }

    &__info {
      @include wrapper(1160, 25);
      margin-top: 100px;
      text-align: center;
      max-width: 510px;

      h2 {
        font-size: 26px;
        margin-bottom: 40px;
      }

      p {
        color: $link_clr;
        margin-bottom: 110px;
      }
    }

    &__container {
      display: flex;
      @include wrapper(1160, 25);
      justify-content: space-between;
      position: relative;
      flex-wrap: wrap;

      &:before {
        content: "";
        border: 5px solid $primary_clr;
        width: 90%;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);

        @include media-max-width(700) {
          height: 93%;
          top: 0;
          width: 0%;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      @include media-max-width(700) {
        flex-direction: column;
      }
    }

    &__box {
      background-color: #ffffff;
      position: relative;
      padding: 50px 32px;
      width: 31.5%;
      height: 100%;

      @include media-max-width(700) {
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
      }

      &:nth-of-type(n + 2) {
        @include media-max-width(700) {
          margin-top: 50px;
        }
      }

      &:nth-of-type(2) {
        margin-top: 45px;
      }

      &:nth-of-type(3) {
        margin-top: 90px;
        @include media-max-width(700) {
          margin-top: 50px;
        }
      }

      &__icon {
        position: absolute;
        left: 30px;
        top: 0;
        transform: translateY(-50%);
        background-color: $tertiary_clr;
        border-radius: 50%;
        width: 90px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-max-width(700) {
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      h3 {
        margin: 32px 0;
        font-size: 16px;
      }

      p {
        color: $link_clr;
      }
    }
  }
}
